
@{
    ViewBag.Title = "Trở thành người bán hàng";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using WebDauGia.Helper
@if (ViewBag.MsgError != null)
{
    <center>
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> @ViewBag.MsgError
        </div>
    </center>
}
@if (ViewBag.MsgSuccess != null)
{
    <center>
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> @ViewBag.MsgSuccess
        </div>
    </center>
}

<!-- HEADLINE -->
<div class="headline buttons primary">
    <h4>@ViewBag.Title</h4>
</div>
<!-- /HEADLINE -->
<!-- FORM BOX ITEMS -->
<div class="form-box-items">
    <!-- FORM BOX ITEM -->
    <div class="form-box-item">
@if (CurrentContext.GetUser().DateEndSale < DateTime.Now)
{
    <h4>Bạn có thể mua chức năng bán hàng với giá 100$.</h4>
    <h4>Sau khi mua chức năng bạn sẽ đợi ít phút để Admin duyệt sau khi duyệt.</h4>
        <h4>Admin duyệt xong sẽ có 1 email thông báo cho và bạn có thể đăng bán sản phẩm.</h4>
        <hr class="line-separator">

        <form id="frmSeller" method="post" action="@Url.Action("Seller", "Account")">
            <button type="submit" class="button mid dark">Trở thành <span class="primary">người bán hàng ngay</span></button>
        </form>
}
else
{
    <h4>Bạn đã trở thành người bán thời gian còn lại của bạn là: @((DateTime.Now-CurrentContext.GetUser().DateEndSale).Value.Days) Ngày</h4>
}

    </div>
    <!-- /FORM BOX ITEM -->
</div>
<!-- /FORM BOX -->


