
@{
    Layout = null;
}
@using WebDauGia.Helper
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="~/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="~/Content/mystyle.css" rel="stylesheet" />
    <link rel="icon" href="favicon.ico">
    <title>@ViewBag.Title - Thế giới ngầm</title>
</head>
<body>
    <!-- SIDE MENU -->
    <div id="dashboard-options-menu" class="side-menu dashboard left closed">
        <!-- SVG PLUS -->
        <svg class="svg-plus">
            <use xlink:href="#svg-plus"></use>
        </svg>
        <!-- /SVG PLUS -->
        <!-- SIDE MENU HEADER -->
        <div class="side-menu-header">
            <!-- USER QUICKVIEW -->
            <div class="user-quickview">
                <!-- USER AVATAR -->
                <a href="@Url.Action("ProfileUser", "Account", new { id = @CurrentContext.GetUser().ID })">
                    <div class="outer-ring">
                        <div class="inner-ring"></div>
                        <figure class="user-avatar">
                            <img src="@Url.Content(CurrentContext.GetUser().Photo)" style="width:40px;height:40px;" alt="avatar">
                        </figure>
                    </div>
                </a>
                <!-- /USER AVATAR -->
                <!-- USER INFORMATION -->
                <p class="user-name">@CurrentContext.GetUser().Name</p>
                <p class="user-money">@CurrentContext.GetUser().Credits</p>
                <!-- /USER INFORMATION -->
            </div>
            <!-- /USER QUICKVIEW -->
        </div>
        <!-- /SIDE MENU HEADER -->
@if (CurrentContext.GetUser().Status == 1)
{
    if (CurrentContext.GetUser().Role == 1)
    {
        <!-- SIDE MENU TITLE -->
        <p class="side-menu-title">Manage User</p>
        <!-- /SIDE MENU TITLE -->
        <!-- DROPDOWN -->
        <ul class="dropdown dark hover-effect interactive">
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="@Url.Action("Approve", "Admin")">
                    <span class="sl-icon icon-user"></span>
                    Duyệt sản phẩm
                </a>
                
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="@Url.Action("ApproveSale", "Admin")">
                    <span class="sl-icon icon-user"></span>
                    Duyệt người dùng bán hàng
                </a>

            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                
                <a href="@Url.Action("ManageUser", "Admin")">
                    <span class="sl-icon icon-user"></span>
                    Quản lý người dùng
                </a>
            </li>
            <!-- /DROPDOWN ITEM -->
        </ul>
        <!-- /DROPDOWN -->
        <!-- SIDE MENU TITLE -->
        <p class="side-menu-title">Manage Categories</p>
        <!-- /SIDE MENU TITLE -->
        <!-- DROPDOWN -->
        <ul class="dropdown dark hover-effect interactive">
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="@Url.Action("ManageCategory", "Admin")">
                    <span class="sl-icon icon-user"></span>
                    Quản lý thể loại
                </a>
            </li>
            <!-- /DROPDOWN ITEM -->
        </ul>
        <!-- /DROPDOWN -->
    }
    else
    {
        <!-- SIDE MENU TITLE -->
        <p class="side-menu-title">Your Account</p>
        <!-- /SIDE MENU TITLE -->
        <!-- DROPDOWN -->
        <ul class="dropdown dark hover-effect interactive">

            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="@Url.Action("ProfileUser", "Account", new { id = @CurrentContext.GetUser().ID })">
                    <span class="sl-icon icon-user"></span>
                    Trang cá nhân
                </a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="@Url.Action("Setting", "Account", new { id = @CurrentContext.GetUser().ID })">
                    <span class="sl-icon icon-settings"></span>
                    Cài đặt tài khoản
                </a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="@Url.Action("JoiningAuction", "Account")">
                    <span class="sl-icon icon-tag"></span>
                    Sản phẩm đang đấu giá
                </a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="@Url.Action("WinProduct", "Account")">
                    <span class="sl-icon icon-tag"></span>
                    Sản phẩm chiến thắng
                </a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="@Url.Action("SaleProduct", "Account")">
                    <span class="sl-icon icon-tag"></span>
                    Sản phẩm đã bán
                </a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="@Url.Action("WatchList", "Account")">
                    <span class="sl-icon icon-heart"></span>
                    Danh sách yêu thích
                </a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="@Url.Action("HistoryAuction", "Account")">
                    <span class="sl-icon icon-tag"></span>
                    Lịch sử đấu giá
                </a>
            </li>
            
            
        </ul>
        <!-- /DROPDOWN -->
        <!-- SIDE MENU TITLE -->
        <p class="side-menu-title">Author Tools</p>
        <!-- /SIDE MENU TITLE -->
        <!-- DROPDOWN -->
        <ul class="dropdown dark hover-effect">
            @if (CurrentContext.GetUser().DateEndSale > DateTime.Now)
            {
                <!-- DROPDOWN ITEM -->
                <li class="dropdown-item">
                    <a href="@Url.Action("UploadItem", "Account")">
                        <span class="sl-icon icon-arrow-up-circle"></span>
                        Đăng sản phẩm
                    </a>
                </li>
            <!-- /DROPDOWN ITEM -->
            }
            
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="@Url.Action("ManageItems", "Account")">
                    <span class="sl-icon icon-folder-alt"></span>
                    Quản lý sản phẩm
                </a>
            </li>
            <!-- /DROPDOWN ITEM -->
        </ul>
        <!-- /DROPDOWN -->
    }
    if (CurrentContext.GetUser().Role != 1)
    {
        if (CurrentContext.GetUser().DateEndSale < DateTime.Now)
        {
            <a href="@Url.Action("BecomeSeller", "Account")" class="button medium primary">Become a Seller</a>
        }
        else
        {
            <a class="button medium primary">Còn lại: @((CurrentContext.GetUser().DateEndSale-DateTime.Now).Value.Days) Ngày</a>
        }
    }

        <a href="#" id="logoutLink" class="button medium secondary">Logout</a>
        <form id="frmLogout" method="post" action="@Url.Action("Logout", "Account")"></form>
}
    </div>
    <!-- /SIDE MENU -->
    <!-- DASHBOARD BODY -->
    <div class="dashboard-body">
        <!-- DASHBOARD HEADER -->
        <div class="dashboard-header retracted">
            <!-- DB CLOSE BUTTON -->
            <a href="@Url.Action("Index","Home")" class="db-close-button">
                <img src="~/images/dashboard/back-icon.png" alt="back-icon">
            </a>
            <!-- DB CLOSE BUTTON -->
            <!-- DB OPTIONS BUTTON -->
            <div class="db-options-button">
                <img src="~/images/dashboard/db-list-right.png" alt="db-list-right">
                <img src="~/images/dashboard/close-icon.png" alt="close-icon">
            </div>
            <!-- DB OPTIONS BUTTON -->
            <!-- DASHBOARD HEADER ITEM -->
            <div class="dashboard-header-item title">
                <!-- DB SIDE MENU HANDLER -->
                <div class="db-side-menu-handler">
                    <img src="~/images/dashboard/db-list-left.png" alt="db-list-left">
                </div>
                <!-- /DB SIDE MENU HANDLER -->
                <h6>Your Dashboard</h6>
            </div>
            <!-- /DASHBOARD HEADER ITEM -->
            <!-- DASHBOARD HEADER ITEM -->
            <div class="dashboard-header-item back-button">
                <a href="@Url.Action("Index","Home")" class="button mid dark-light">Back to Homepage</a>
            </div>
            <!-- /DASHBOARD HEADER ITEM -->
        </div>
        <!-- DASHBOARD HEADER -->
        <!-- DASHBOARD CONTENT -->
        <div class="dashboard-content">
            
           @RenderBody()
        </div>
        <!-- DASHBOARD CONTENT -->
    </div>
    <!-- /DASHBOARD BODY -->

    <!-- SVG ARROW -->
    <svg style="display: none;">
        <symbol id="svg-arrow" viewBox="0 0 3.923 6.64014" preserveAspectRatio="xMinYMin meet">
            <path d="M3.711,2.92L0.994,0.202c-0.215-0.213-0.562-0.213-0.776,0c-0.215,0.215-0.215,0.562,0,0.777l2.329,2.329
			L0.217,5.638c-0.215,0.215-0.214,0.562,0,0.776c0.214,0.214,0.562,0.215,0.776,0l2.717-2.718C3.925,3.482,3.925,3.135,3.711,2.92z" />
        </symbol>
    </svg>
    <!-- /SVG ARROW -->
    <!-- SVG PLUS -->
    <svg style="display: none;">
        <symbol id="svg-plus" viewBox="0 0 13 13" preserveAspectRatio="xMinYMin meet">
            <rect x="5" width="3" height="13" />
            <rect y="5" width="13" height="3" />
        </symbol>
    </svg>
    <!-- /SVG PLUS -->
    <!-- SVG MINUS -->
    <svg style="display: none;">
        <symbol id="svg-minus" viewBox="0 0 13 13" preserveAspectRatio="xMinYMin meet">
            <rect y="5" width="13" height="3" />
        </symbol>
    </svg>
    <!-- /SVG MINUS -->
    <!-- jQuery -->
    <script src="~/Scripts/js/vendor/jquery-3.1.0.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Scripts/js/vendor/jquery.magnific-popup.min.js"></script>
    <!-- imgLiquid -->
    <script src="~/Scripts/js/vendor/imgLiquid-min.js"></script>
    <!-- XM Pie Chart -->
    <script src="~/Scripts/js/vendor/jquery.xmpiechart.min.js"></script>
    <!-- Side Menu -->
    <script src="~/Scripts/js/side-menu.js"></script>
    <!-- Dashboard Header -->
    <script src="~/Scripts/js/dashboard-header.js"></script>
    <!-- Liquid -->
    <script src="~/Scripts/js/liquid.js"></script>
    <!-- Dashboard Purchases -->
    <script src="~/Scripts/js/dashboard-purchases.js"></script>
    <script src="~/Scripts/MyScript.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        //start script favouries
        $(".favourites").click(function () {
            var item = $(this);
            var input =item.closest(".preview-action").find("input");
            var productID = input[0].value;
            var userID = input[1].value;
            $.ajax({
                type:"POST",
                url:"@Url.Action("Watching", "Account")",
                data: { "productID":  productID,
                    "userID":userID},
            success: function () {
                var color = item.find(".secondary").css("background-color");
                if (color == "rgb(55, 201, 255)") {
                    item.find(".secondary").css("background-color", "rgb(231,231,231)");
                }
                else
                {
                    item.find(".secondary").css("background-color", "rgb(55, 201, 255)");
                }

            }
        });
        });
        // end script favouries
        // start script logout
        $('#logoutLink').on('click', function () {
            $('#frmLogout').submit();
        });
        // end script logout
    </script>

</body>
</html>
